*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.menu_top{
    background: #090705;
    height: 19%;
    position: sticky;
    left: 0px;
    right: 0px;
    box-shadow: -10px 0 10px rgb(0, 255, 213); 
    top: -2%;
    z-index: 1;
}

.menu_top:hover{
    transform: scale(1.0);
    box-shadow: -10px 0 10px rgba(0,255,0,1);
}

.menu_top ul {
    padding: 0px;
}

.menu_top .menu_top_left li{
    margin-top: 3%;
    margin-left: 3%;
    list-style: none;
    float: left;
}

.menu_top .menu_top_right li{
    margin-top: 3%;
    margin-right: 3%;
    list-style: none;
    float: right;
}

.menu_top img{
    margin-left: 43%;
    margin-top: -5%;
    width: 8%;
    border-radius:50%;
}

.menu_top ul li a{
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color: rgb(238, 234, 234);
    padding: 0px 20px 0px 20px;
}

.menu_top ul li:hover{
    background: #1b9b9b;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    transition: linear 0.2s; 
}

.banner iframe{
    width: 100%;
    height: 100%;
    background: #090705;
}

.breadCrumbs {
    background-color: #eee;
}

.breadCrumbs .wrap-content {
    padding: 0.75rem 10px;
    max-width: 1200px;
    margin: auto;
}

.breadCrumbs .wrap-content .breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background-color: transparent;
    border-radius: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.active {
    color: #6c757d !important;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.text-decoration-none {
    text-decoration: none !important;
    color: #000;
}
.breadCrumbs .wrap-content .breadcrumb-item.active a {
    color: var(--color-gray);
}
.breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    color: #6c757d;
    content: "/";
}
.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.5rem;
}
.wrap-main, .wrap-content {
    max-width: 1220px;
    margin: 40px auto;
    padding: 0px 10px;
}
.title-main {
    margin-bottom: 1.5rem;
    text-align: center;
}
.title-main span {
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 800;
    font-size: 23px;
}
.title-main {
    margin-bottom: 1.5rem;
    text-align: center;
}
.top-contact {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
}
.top-contact .article-contact {
    width: 48%;
}

.form-contact {
    width: 47%;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.input-contact {
    position: relative;
    margin-bottom: 15px;
}
.col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.input-contact input {
    text-indent: 10px;
}
.input-contact textarea {
    resize: none;
    height: 150px;
    padding: 10px;
}
.input-contact input, .input-contact textarea {
    width: 100%;
    padding: 0px;
    outline: none;
    font-size: 14px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
.input-contact textarea {
    resize: none;
    height: 150px;
    padding: 10px;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin: 0;
    opacity: 0;
}
.custom-control-label::before, .custom-file-label, .custom-select {
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
.input-contact .custom-file-label::after {
    content: attr(title);
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + 0.75rem + 2p);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 0.25rem 0.25rem 0;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.bottom-contact {
    position: relative;
    height: 500px;
}
.w-clear:after {
    display: block;
    content: "";
    clear: both;
}

.footer img{
    width: 100%;
}

.footer .fanpage{
    position: absolute;
    margin-left: 20%;
    margin-top: -12.5%;
}

.footer .phone{
    position: absolute;
    margin-left: 20%;
    margin-top: -11%;
}

.footer .add{
    position: absolute;
    margin-left: 20%;
    margin-top: -9.5%;
}

.footer a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}


