*{
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box ;
}
:root{
    --main-color: #d90429;
    --text-color: #f7f3f7;
}

.menu_top{
    background: #090705;
    height: 19%;
    position: sticky;
    left: 0px;
    right: 0px;
    box-shadow: -10px 0 10px rgb(0, 255, 213); 
    top: -2%;
    z-index: 1;
}

.menu_top:hover{
    transform: scale(1.0);
    box-shadow: -10px 0 10px rgba(0,255,0,1);
}

.menu_top ul {
    padding: 0px;
}

.menu_top .menu_top_left li{
    margin-top: 3%;
    margin-left: 3%;
    list-style: none;
    float: left;
}

.menu_top .menu_top_right li{
    margin-top: 3%;
    margin-right: 3%;
    list-style: none;
    float: right;
}

.menu_top img{
    margin-left: 43%;
    margin-top: -5%;
    width: 8%;
    border-radius:50%;
}

.menu_top ul li a{
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color: rgb(238, 234, 234);
    padding: 0px 20px 0px 20px;
}

.menu_top ul li:hover{
    background: #1b9b9b;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    transition: linear 0.2s; 
}

section{
    padding: 10px 200px 10px 200px;
    background-color: #2b2928;
}
img{
    width: 100%;
}
body h2 a{
    color: var(--main-color);
}
body h2 a .title{
    height: 40px;
    font-size: 18px;
}
body h2{
    display: block;
    height: 50px;
    width: 100%;
    padding: 0 5px 0 15px;
    font-size: 23px;
    line-height: 50px;
    background-color: #f4f4f4;
    position: relative;
    margin-bottom: 15px;
    border-left: solid 5px #ffd50d;
}
.blog-new p{
    color: #fff;
    font-size: medium;
    font-style: oblique;
    font-weight: 800;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.blog-new a{
    color: #fff;
    text-decoration: underline;
}
.blog-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.blog-container .box{
    height: 400px;
    width: 20%;
}
.blog-container .box img{
    height: 150px;
    width: 100%;
    object-fit: contain;
    overflow: hidden;
    object-position: center;
   
}
.blog-container h3 a{
    font-size: 15px;
    color: var(--text-color);
}
.box h3 a:hover{
    transition: 0.4s;
    color:  turquoise;
}
.box span{
    color: var(--main-color);
}
.mid-content{
    padding: 10px 200px 10px 100px;
}
.mid-content h2{
    color: var(--main-color)
}
.mid-list .list .news-img{
    float: left;
    width: 41%;
    max-width: 300px;
    margin-right:2.5%;
    margin-bottom: 6px;
}
.mid-content .news-info{
    position: absolute;
    left: 425px;
    right: 50px;
}
.mid-content .news-info .news-title a{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 300%;
    padding: 5px 0px;
}
.mid-content .news-info .news-title p{
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 0px;
}
.mid-list .news-link{
    font-weight: 200;
    color: #865d34;
}

.mid-list .news-link:hover{
    color: turquoise;
}
.mid-content ul li{
    margin: 5px 0px;
    display: flex;
}
.end-content{
    position:absolute;
    padding: 10px 200px 10px 100px;
}
.end-content h2{
    color: var(--main-color)
}
.end-content .pl1{
    position: absolute;
    display: flex;
    height: 300px;
    width: 500px;
    margin-top: 50px;
}
.end-content .pl2{
    position: absolute;
    display :flex;
    height: 300px;
    width: 500px;
    margin-top: 50px;
    margin-left: 730px;
    margin-right: 500px;
    justify-content: space-between;
}

.end-content .end-link a h3{
    display:flex;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #090705;
}
.end-content .end-link a h3:hover{
    color: turquoise;
    transition: 0.4s;
}
.footer{
    position: absolute;
    margin-top: 35%;
    width: 100%;
}

.footer .fanpage{
    position: absolute;
    margin-left: 20%;
    margin-top: -12.5%;
}

.footer .phone{
    position: absolute;
    margin-left: 20%;
    margin-top: -11%;
}

.footer .add{
    position: absolute;
    margin-left: 20%;
    margin-top: -9.5%;
}

.footer a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}