*{
    margin: 0;
    padding: 0;
}
body{
    width: auto;
    margin: 0px auto;
}

.menu_top{
    background: #090705;
    height: 19%;
    position: sticky;
    left: 0px;
    right: 0px;
    box-shadow: -10px 0 10px rgb(0, 255, 213); 
    top: -2%;
    z-index: 1;
}

.menu_top:hover{
    transform: scale(1.0);
    box-shadow: -10px 0 10px rgba(0,255,0,1);
}

.menu_top ul {
    padding: 0px;
}

.menu_top .menu_top_left li{
    margin-top: 3%;
    margin-left: 3%;
    list-style: none;
    float: left;
}

.menu_top .menu_top_right li{
    margin-top: 3%;
    margin-right: 3%;
    list-style: none;
    float: right;
}

.menu_top img{
    margin-left: 43%;
    margin-top: -5%;
    width: 8%;
    border-radius:50%;
}

.menu_top img:hover{
    transform: scale(1.1);
    transition: ease 0.5s; 
}

.menu_top ul li a{
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color: rgb(238, 234, 234);
    padding: 0px 20px 0px 20px;
}

.menu_top ul li:hover{
    background: #1b9b9b;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    transition: linear 0.2s; 
}

.banner iframe{
    width: 100%;
    height: 100%;
    background: #090705;
}

.hot{
    background: url("/assets/hot.png");
    height: 80%;
}

.hot .content .title_solgan{
    color: aliceblue;
    text-align: center;
    font-family: 'Tahoma';
    font-size: 20px;
    padding-top: 6%;
}

.hot .content .title_name{
    color: aliceblue;
    text-align: center;
    font-size: 40px;
    padding-top: 2%;
}

.car_hot a{
    font-family: 'Tahoma';
    font-style: italic;
    font-size: 14px;
    color: rgb(24, 126, 216);
}

.car_hot .car1 iframe{
    width: 86%;
    min-height: 70%;
    margin: 20px 20px 20px 20px;
}
.car_hot .car1 .title_car1{
    background-color: rgb(51, 70, 70);
    width: 200px;
    height: 40px;
    color: aliceblue;
    text-align: center;
    font-family: 'Tahoma';
    font-size: 16px;
    margin-left: 70px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

}
.car_hot .car1 .content_car1 {
    background-color: rgb(51, 70, 70);
    width: 200px;
    height: 40px;
    text-align: center;
    font-family: 'Tahoma';
    margin-left: 70px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.car_hot .car2 iframe{
    width: 86%;
    min-height: 70%;
    margin: 20px 20px 20px 20px;
}
.car_hot .car2 .title_car2{
    background-color: rgb(51, 70, 70);
    width: 200px;
    height: 40px;
    color: aliceblue;
    text-align: center;
    font-family: 'Tahoma';
    font-size: 16px;
    margin-left: 70px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

}
.car_hot .car2 .content_car2 {
    background-color: rgb(51, 70, 70);
    width: 200px;
    height: 40px;
    text-align: center;
    font-family: 'Tahoma';
    margin-left: 70px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.car_hot .car3 iframe{
    width: 86%;
    min-height: 70%;
    margin: 20px 20px 20px 20px;
}
.car_hot .car3 .title_car3{
    background-color: rgb(51, 70, 70);
    width: 200px;
    height: 40px;
    color: aliceblue;
    text-align: center;
    font-family: 'Tahoma';
    font-size: 16px;
    margin-left: 70px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

}
.car_hot .car3 .content_car3{
    background-color: rgb(51, 70, 70);
    width: 200px;
    height: 40px;
    text-align: center;
    font-family: 'Tahoma';
    margin-left: 70px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.car_hot .car4 iframe{
    width: 86%;
    min-height: 70%;
    margin: 20px 20px 20px 20px;
}
.car_hot .car4 .title_car4{
    background-color: rgb(51, 70, 70);
    width: 200px;
    height: 40px;
    color: aliceblue;
    text-align: center;
    font-family: 'Tahoma';
    font-size: 16px;
    margin-left: 70px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

}
.car_hot .car4 .content_car4{
    background-color: rgb(51, 70, 70);
    width: 200px;
    height: 40px;
    text-align: center;
    font-family: 'Tahoma';
    margin-left: 70px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.car_hot{
    display: flex;
    justify-content: center;
}

.main .gioithieu_left{
    width: 50%;
    min-height: 400px;
    margin: 80px 80px 80px 80px;
}

.main .gioithieu_left h1{
    color: #fff;
    font-style: italic;
}

.main .gioithieu_left h2{
    color: #4195c9;
    font-style: italic;
    font-family: 'Times New Roman';
}

.main .gioithieu_left a{
    color: #c6dae7;
    width: 12%;
    font-family: 'Times New Roman';
    border-style: solid;
    text-decoration: none;
}

.main .gioithieu_right{
    width: 400px;
    min-height: 400px;
    margin: 80px 80px 80px 80px;
}

.main .gioithieu_right .slider{
    width: 400px;
    height: 520px;
    border-radius: 10px;
    overflow: hidden;
}

.main .gioithieu_right .slider .sliders{
    width: 520%;
    height: 520px;
    display: flex;
}

.main .gioithieu_right .slider .sliders input{
    display: none;
}

.main .gioithieu_right .slider .slide{
    width: 20%;
    transition: 2s;
}

.navigation-manual{
    position: absolute;
    width: 400px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #4195c9;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 10px;   
}

.manual-btn:hover{
    background: #4195c9;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

.navigation-auto{
    position: absolute;
    display: flex;
    width: 400px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid #4195c9;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div :not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #4195c9;
}    

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #4195c9;
}   

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #4195c9;
}   

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #4195c9;
}   

.main .gioithieu_right .slider .sliders img{
    width: 400px;
    height: 520px;
}

.main{
    display: flex;
    justify-content: space-between;
    background: url("/assets/hot.png");
}

.about{
    background: url("/assets/lamborghini.jpg");
    background-size: cover;
    height: 65%;
    width: 100%;
    background-repeat: no-repeat;
}

.about:hover{
    transform: scale(1.03);
    box-shadow: -10px 0 10px rgb(99, 211, 230);
    transition: ease 1s;    
}

.demo .youtube_demo img{
    width: 600px;
    height: 500px;
    margin: 10px 80px 80px 80px;
}

.demo .youtube a{
    text-decoration: none;
    color: #fff;
    font-style: oblique;
    font-size: 20px;
}

.demo .youtube{
    padding-top: 6%;
    margin-left: 11%;
}

.demo .face_demo img{
    width: 600px;
    height: 500px;
    margin: 10px 80px 80px 80px;
}

.demo .face a{
    text-decoration: none;
    color: #fff;
    font-style: oblique;
    font-size: 20px;
}

.demo .face{
    padding-top: 6%;
    margin-left: 11%;
}

.demo{
    display: flex;
    justify-content: space-between;
    background: url("/assets/hot.png");
}

@media(max-width:400px) {
    
}


.footer{
    background: url("/assets/footer.png");
    height: 40%;
}

.footer .fanpage{
    margin-left: 20%;
    padding-top: 7%;
}

.footer .phone{
    margin-left: 20%;
}

.footer .add{
    margin-left: 20%;
}

.footer a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.footer :hover{
    transform: scale(1.0);
    box-shadow: -10px 0 10px rgb(80, 176, 200);
}