*{
    margin: 0;
    padding: 0;
    scroll-padding-top: 1rem;
    scroll-behavior: smooth;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box ;
}
:root{
    --main-color: #d90429;
    --text-color: #020102;
}

.menu_top{
    background: #090705;
    height: 19%;
    position: sticky;
    left: 0px;
    right: 0px;
    box-shadow: -10px 0 10px rgb(0, 255, 213); 
    top: -2%;
    z-index: 1;
}

.menu_top:hover{
    transform: scale(1.0);
    box-shadow: -10px 0 10px rgba(0,255,0,1);
}

.menu_top ul {
    padding: 0px;
}

.menu_top .menu_top_left li{
    margin-top: 3%;
    margin-left: 3%;
    list-style: none;
    float: left;
}

.menu_top .menu_top_right li{
    margin-top: 3%;
    margin-right: 3%;
    list-style: none;
    float: right;
}

.menu_top img{
    margin-left: 43%;
    margin-top: -5%;
    width: 8%;
    border-radius:50%;
}

.menu_top ul li a{
    text-decoration: none;
    display: block;
    height: 40px;
    line-height: 40px;
    color: rgb(238, 234, 234);
    padding: 0px 20px 0px 20px;
}

.menu_top ul li:hover{
    background: #1b9b9b;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
    transition: linear 0.2s; 
}

section{
    padding-top: 4rem;
    background-color: #090705;
}
img{
    width: 100%;
}
body{
    color : var(--text-color);
}
.car-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: -2rem;
}
.car-container .box{
    flex: 1 1 17rem;
    position: relative;
    flex-direction: column;
    height: 400px;
    border-radius: 0.5rem;
    overflow: hidden;
    background: #FFF;
}
.car-container .box img{
    width: 100%;
    height:250px;
    object-fit: cover;
    overflow: hidden;
    margin-bottom: 0.2rem;
}

.car-container .box img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.car-container .box div ul li .btn-phone{
    position: absolute;
    bottom: 8px;
    right: 50px;
    font-weight: 400;
    font-size: 1.2rem;
    background: var(--bg-color);
    padding: 8px;
    border-radius: 1.5rem;
}
.car-container .box div ul li .btn-phone:hover{
    background: #00FF66;
    color: var(--bg-color);
    transition: 0.5s;
}
.car-container .box div ul li .btn-details{
    position: absolute;
    bottom: 8px;
    left: 30px;
    font-weight: 400;
    font-size: 1.2rem;
    background: var(--bg-color);
    padding: 8px;
    border-radius: 1.5rem;
}
.car-container .box div ul li .btn-details:hover{
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.5s;
}
.car-container .box span{
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--main-color);
    margin-left: 2rem;
}
.car-container .box ul li{
    font-size: 1rem;
    display:flex;
    margin-left: 1rem;
} 
.car-container .box div ul li{
    position: absolute;
    display: contents; 
    align-items: center;
}
.car-container .box ul li .bx.bxs-location-plus{
    align-items: center;
    column-gap: 4px;
    color: var(--text-color);
}
.car-container .box ul li .bx.bxs-location-plus:hover{
    color: var(--main-color);
    column-gap: 1rem;
    transition: 0.5s;
}

.parts-container{
    display:flex;
    flex-wrap:wrap;
    gap: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
}
.parts-container .box{
    flex: 1 1 17rem;
    position: relative;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    border-radius: 0.5rem;
}
.parts-container .box img{
    width: 100%;
    height: 150px;
    object-fit: contain;
    overflow: hidden;
    object-position: center;
    margin-bottom: 1rem;
}
.parts.car-container .box h3{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color);
}
.parts-container .box span{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--main-color)
}
.parts-container .box .bx{
    color: var(--main-color);
    margin: 0.8rem 0;
}
.parts-container .box .btn{
    max-width: 120px;
}
.parts-container .box .details{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1rem;
    color: var(--text-color);
}
.parts-container .box .details:hover{
    color: var(--main-color);
    text-decoration: underline;
}
.btn{
    padding: 22px;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
}
.btn:hover{
    background: red;
}

.footer img{
    margin-top: 20px;
    width: 100%;
}

.footer .fanpage{
    position: absolute;
    margin-left: 20%;
    margin-top: -12.5%;
}

.footer .phone{
    position: absolute;
    margin-left: 20%;
    margin-top: -11%;
}

.footer .add{
    position: absolute;
    margin-left: 20%;
    margin-top: -9.5%;
}

.footer a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}