body{
    width: auto;
    margin: 0px auto;
    background-color: #151b22;
}

.search img{
    width: 100%;
    position: fixed;
}

.thoisu a{
    margin-top: 12%;
    margin-left: 30%;
    color: #38d6eb;
    float:left;
    font-size: 14px;
    text-decoration: none;
}

.thoisu h1{
    margin-top: 12%;
    margin-right: 30%;
    color: #bdbdbd;
    float:right;
    font-size: 14px;
}

.thoisu .content h1{
    margin-top: 1%;
    font-size: 32px;
    color: #fff;
    margin-left: 30%;
    margin-right: 35%;
}

.thoisu .content1 h1{
    margin-top: 1%;
    font-size: 16px;
    color: #fff;
    margin-left: 30%;
    margin-right: 30%;
}

.img1 img{
    margin-left: 11%;
}

.thoisu .content2 h1{
    margin-top: 1%;
    font-size: 16px;
    color: #fff;
    margin-left: 30%;
    margin-right: 28%;
}
.thoisu .content2 a{
    font-size: 16px;
    float: right;
    margin-right: 32.4%;
    margin-top: -1.96%;
    text-decoration: none;
}

.thoisu .content2 h2{
    font-size: 16px;
    color: #fff;
    margin-left: 30%;
    margin-right: 28%;
}

.img2 img{
    margin-left: 11%;
}

.cmt img{
    width: 100%;
}

