@charset "UTF-8";
:root{
    --first-color: #12192C;
    --second-color:#F5A623;
    --width-color: #EDEDED;
    --body-font: 'Poppins', sans-serif;
    --small-font-size: 0.875rem;
    @media screen and (min-width: 768px) {
        --small-font-size: 0.938rem;
    }
}
:root{
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
*,::after,::before {
    box-sizing: border-box;
}

body{
    position: relative;
    margin: 0;
    padding: 1rem 0 0 5rem;
    font-family: var(--body-font);
    background: var(--while-color);
    transition: 0.5s;
}

h1{
    margin: 0;
}

ul,li{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.l-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 58px;
    height: 100vh;
    background: var(--first-color);
    color: #EDEDED;
    padding: 1.25rem 0.5rem 2rem;
    transition: 0.5s;
    z-index: var(--z-fixed);
}

.nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.nav-logo{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    padding: 0 0.5rem;
}

.nav-logo-icon{
    margin-right: 0.75rem;
    width: 24px;
    height: 24px;
    color: var(--while-color);
}

.nav-logo-text{
    font-size: 1rem;
    color: var(--while-color);
    font-weight: 700;
}

.nav-toggle{
    position: absolute;
    top: 1.1rem;
    right: -0.5rem;
    width: 18px;
    height: 18px;
    background: var(--width-color);
    border-radius: 50%;
    font-size: 1.25rem;
    color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.5s;
}

.nav-link{
    display: flex;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    color: var(--while-color);
    transition: 0.5s;
}
.nav-link:hover{
    background: var(--second-color);
    color: var(--first-color);
}
.nav-icon{
    font-size: 1.5rem;
    margin-right: 0.75rem;
}
.nav-text{
    font-weight: 700;
}

/* show cac thuoc tinh khi an Arrow */
.show{
    width: 220px;
}
.rotate{
    transform: rotate(180deg);
    transition: 0.3s;
}
.expander{
    padding: 1rem 0 0 16rem;
}

.active{
    background: var(--second-color);
    color: var(--first-color);
}

table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}

.trang{
	display: none;
}

.active-page{
    display: block;
}