@charset "ISO-8859-1";

body {
	height: 550px;
	font-family: Arial, sans-serif;
}

.body {
	justify-content: space-between;
	align-items: flex-start;
	display: flex;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	padding: 8px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

th {
	background-color: #f2f2f2;
}

.image-cell img {
	width: 200px;
	height: 100px;
}

.container_ad {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.form-container h2 {
	text-align: center;
	margin-bottom: 20px;
}

.form-container label {
	display: block;
	margin-bottom: 10px;
}

.form-container input[type="text"], .form-container input[type="number"],
	.form-container input[type="file"] {
	width: 90%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.form-container input[type="submit"] {
	width: 90%;
	padding: 8px;
	border: none;
	border-radius: 4px;
	background-color: #4CAF50;
	color: #fff;
	cursor: pointer;
}

.form-container input[type="submit"]:hover {
	background-color: #45a049;
}

.action-buttons {
	margin-left: -30px;
}

.action-buttons a {
	display: inline-block;
	padding: 8px 12px;
	margin: 0 5px;
	border: none;
	border-radius: 4px;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	font-weight: bold;
}

.edit-button {
	background-color: #2196F3;
}

.delete-button {
	background-color: #F44336;
}

.form-container {
	background-color: #ffffff;
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 5px;
	width: 300px;
	height: 610px;
}

.form-container label {
	display: block;
	margin-bottom: 5px;
}

.form-container input[type="text"], .form-container input[type="number"]
	{
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
}

.form-container input[type="submit"] {
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	border: none;
	cursor: pointer;
}

.product-list-container {
	width: 77%;
}

.product-list {
	background-color: #ffffff;
	border: 1px solid #ccc;
	padding: 20px;
	border-radius: 5px;
	height: 530px; /* Chiều cao cố định */
	overflow: auto; /* Tạo thanh cuộn */
}

.product-list-item {
	margin-bottom: 10px;
}