@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.container {
	align-items: center;
	margin-top: 2%;
}

.row {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
}

/* banner */
.banner {
	text-align: center;
}

.banner iframe {
	margin-top: 4px;
	width: 99.5%;
	height: 600px;
	background: #090705;
}
/* end banner */
.box-content {
	width: 25%;
	padding: 30px 10px 20px 10px;
	float: left;
}

.card {
	height: 400px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px;
	background-color: #fff;
	border: 1px solid #ccc;
}

.card-img-top {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 5px;
}

.card-title {
	height: 50px;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 5px;
}

.price {
	font-size: 16px;
	color: #007bff;
	margin-bottom: 10px;
}

.category {
	font-size: 14px;
	color: #666;
	margin-bottom: 10px;
}

.card-btn {
	margin-top: 10px;
}

.add-btn {
	display: inline-block;
	padding: 5px 10px;
	background-color: #dfdf00;
	color: black;
	text-decoration: none;
	border-radius: 3px;
	margin-right: 5px;
}

.add-btn:hover {
	background-color: #f7f700;
	transform: scale(1.05);
}

.add-buy {
	display: inline-block;
	padding: 5px 10px;
	background-color: #80ff80;
	color: black;
	text-decoration: none;
	border-radius: 3px;
	margin-right: 5px;
}

.add-buy:hover {
	background-color: #80ff00;
	transform: scale(1.05);
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.search {
	border-radius: 10px;
	margin-left: 2%;
	margin-top: 1.2%;
	display: flex;
}

.search input {
	padding: 10px;
	border-radius: 15px;
}

.searchcar {
	display: flex;
	margin-left: 3%;
}

.btn-search {
	cursor: pointer;
}

.btn-search:hover {
	transform: scale(1.05);
}

ul.menu {
	width: 100%;
	padding: 2px; list-style-type : none;
	margin-top: 20px;
	background-color: #000;
	display: flex;
	justify-content: center;
	overflow-x: auto;
	list-style-type: none;
}

ul.menu li {
	float: left;
	width: 150px;
}

ul.menu li a {
	width: 150px;
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

ul.menu li a:hover {
	background-color: #fff;
	color: #000;
}

.searchcar ul.menu2 {
	list-style-type: none;
	margin-top: 20px;
	margin-left: 60px;
	overflow: hidden;
	background-color: #fff;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

.searchcar ul.menu2 li {
	float: left;
	width: 250px;
	border-right: 1px solid #000;
}

.searchcar ul.menu2 li a {
	display: block;
	color: #000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.searchcar ul.menu2 li a:hover {
	background-color: #000;
	color: #fff;
}

button {
	cursor: pointer;
}

@media ( max-width : 980px) {
	.search {
		margin-top: 30px;
		height: 50px;
		padding: 5px;
	}
	.searchcar ul.menu2 {
		margin-top: 20px;
		margin-left: 5px;
		overflow: hidden;
		background-color: #fff;
		display: flex;
		justify-content: center;
		overflow: hidden;
	}
	.box-content {
		width: 70%;
		margin: 0 auto;
	}
	ul.menu li {
		width: 130px;
	}
	ul.menu li a {
		width: 130px;
		padding: 10px 15px;
	}
}