@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.container1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	padding-top: 4%;
	margin: auto;
}

.price {
	font-size: 30px;
	font-weight: 700;
	display: inline-block;
	margin-right: 10px;
	color: white;
}

.btn-check-out {
	width: 100px;
	height: 30px;
	background: rgb(113, 184, 205);
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	display: inline-block;
	text-decoration: none;
	border-radius: 4px;
	text-align: center;
	padding-top: 0.3%;
}

.price {
	margin-bottom: 10px;
}

.btn-check-out {
	margin-bottom: 10px;
}

.btn-check-out:hover {
	transform: scale(1.05);
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.table th, .table td {
	border: 1px solid #ccc;
	padding: 5px;
	text-align: center;
}

.table th {
	background-color: #f2f2f2;
}

.btn-incre, .btn-decre {
	display: inline-block;
	padding: 5px 10px;
	background-color: blue;
	color: #fff;
	text-decoration: none;
	margin: 0 5px;
}

.btn-decre:hover {
	transform: scale(1.05);
}

.btn-incre:hover {
	transform: scale(1.05);
}

.form-group {
	width: 60%;
	margin: auto;
}

.form-control {
	width: 50px;
	text-align: center;
}

.btn-danger {
	background-color: red;
	color: #fff;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
	text-decoration: none;
}

.btn-sm {
	background-color: green;
	color: #fff;
	padding: 5px 10px;
	border: none;
	cursor: pointer;
}

button:hover {
	transform: scale(1.05);
}

tr {
	background: linear-gradient(to bottom, #dd9ef0 0%, #9ee1f0 100%);
}