@charset "ISO-8859-1";
/* footer */
.footer .fanpage {
	margin-left: 20%;
	padding-top: 7%;
}

.footer .phone {
	margin-left: 20%;
}

.footer .add {
	margin-left: 20%;
}

.footer a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
/* endfoot */