@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0px auto;
}
/* menu */
.navbar-content {
	display: flex;
	background: #090705;
	height: 120px;
	position: sticky;
}

.navbar-content:hover {
	transform: scale(1.0);
}

.navbar-content .navbar-nav {
	margin-left: 20px;
	display: flex;
	width: 60%;
	text-align: center;
	margin-left: 100px;
}

.navbar-content .navbar-nav li {
	list-style: none;
	padding-top: 50px;
	width: 250px;
}

.navbar-content img {
	margin-left: 5%;
	width: 8%;
	border-radius: 50%;
}

.navbar-content ul li a {
	text-decoration: none;
	display: block;
	color: rgb(238, 234, 234);
	font-size: 20px;
}

.navbar-content ul li:hover {
	background: #1b9b9b;
}

/* endmenu */