@charset "UTF-8";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar .container{
    position: relative;
    display: flex;
    margin:20px;
    font-size: 20px;
}
.brand{
    font-style: none;
    color: black;
    display: block;
    text-decoration: none;
    padding-right: 40%;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
li{
    margin-right: 15px;
}
li a{
    text-decoration: none;
    color: black;
}
li a:hover{
    color: aqua;
    transition: 1s;
}